<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Cloud_GPU</display-name>
  <welcome-file-list>
    <welcome-file>portal.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyUpload</display-name>
    <servlet-name>MyUpload</servlet-name>
    <servlet-class>com.net.io.MyUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyUpload</servlet-name>
    <url-pattern>/upload.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Compiler_Process</display-name>
    <servlet-name>Compiler_Process</servlet-name>
    <servlet-class>com.net.view.Compiler_Process</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Compiler_Process</servlet-name>
    <url-pattern>/Compiler_Process</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.Listener.JobQueueContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>AddJobToQueue</display-name>
    <servlet-name>AddJobToQueue</servlet-name>
    <servlet-class>com.proc.queue.AddJobToQueue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJobToQueue</servlet-name>
    <url-pattern>/AddJobToQueue</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginCheckFilter</display-name>
    <filter-name>LoginCheckFilter</filter-name>
    <filter-class>com.net.Filter.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Controller</display-name>
    <servlet-name>Login_Controller</servlet-name>
    <servlet-class>com.net.Controller.Login_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Controller</servlet-name>
    <url-pattern>/Login_Control.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Compile_Controller</display-name>
    <servlet-name>Compile_Controller</servlet-name>
    <servlet-class>com.net.Controller.Compile_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Compile_Controller</servlet-name>
    <url-pattern>/compile.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Execute_Controller</display-name>
    <servlet-name>Execute_Controller</servlet-name>
    <servlet-class>com.net.Controller.Execute_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Execute_Controller</servlet-name>
    <url-pattern>/execute.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_Controller</display-name>
    <servlet-name>Edit_Controller</servlet-name>
    <servlet-class>com.net.Controller.Edit_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Controller</servlet-name>
    <url-pattern>/edit.do</url-pattern>
  </servlet-mapping>
</web-app>